## Imports

In [214]:
import gurobipy as gp
import json
import numpy as np
import os
import pandas as pd
import random
from gurobipy import GRB

## Read Data

In [216]:
TRANSFER_PERCENTAGE = 0
TRANSFER_PERCENTAGE = 0.25

if TRANSFER_PERCENTAGE > 0:
    INPUT_PATH = f"data/boston-logan/transfers/{TRANSFER_PERCENTAGE}"
else:
    INPUT_PATH = "data/boston-logan"

arrivals_df = pd.read_csv(os.path.join(INPUT_PATH, "arrivals.csv"))
departures_df = pd.read_csv(os.path.join(INPUT_PATH, "departures.csv"))
gates_df = pd.read_excel("data/boston-logan/Gates.xlsx")

if TRANSFER_PERCENTAGE > 0:
    with open(os.path.join(INPUT_PATH, "transfers.json")) as json_file:
        transfers = json.load(json_file)

all_flights_df = pd.concat([arrivals_df, departures_df])

In [217]:
arrivals_df

,Unnamed: 0,Flight Number,Arrival Time,Departure Time,Passengers,Type,final_passengers,percentage
0,0,2,25,136,106,Arrival,80,0.754717
1,1,3,41,161,147,Arrival,111,0.755102
2,2,6,73,187,187,Arrival,143,0.764706
3,3,7,77,188,121,Arrival,91,0.752066
4,4,10,111,233,94,Arrival,71,0.755319
...,...,...,...,...,...,...,...,...
63,63,120,1325,1447,127,Arrival,120,0.944882
64,64,124,1369,1499,88,Arrival,88,1.000000
65,65,126,1390,1513,240,Arrival,240,1.000000
66,66,127,1398,1513,87,Arrival,87,1.000000
67,67,129,1427,1548,139,Arrival,139,1.000000

In [218]:
gates_df ## Gates Start from 1 (Gate 0 is the terminal entry)

    Unnamed: 0   0   1   2   3   4   5   6   7   8   9  10  11  12  13  14
0            0   0  53  45  43  31  29  25  23  19   9   3  15  17  21  23
1            1  53   0   4  10  22  24  28  30  34  44  50  62  64  68  70
2            2  45   4   0   6  18  20  24  26  30  40  46  58  60  64  66
3            3  43  10   6   0  12  14  18  20  24  34  40  52  54  58  60
4            4  31  22  18  12   0   2   6   8  12  22  28  40  42  46  48
5            5  29  24  20  14   2   0   4   6  10  20  26  38  40  44  46
6            6  25  28  24  18   6   4   0   2   6  16  22  34  36  40  42
7            7  23  30  26  20   8   6   2   0   4  14  20  32  34  38  40
8            8  19  34  30  24  12  10   6   4   0  10  16  28  30  34  36
9            9   9  44  40  34  22  20  16  14  10   0   6  18  20  24  26
10          10   3  50  46  40  28  26  22  20  16   6   0  12  14  18  20
11          11  15  62  58  52  40  38  34  32  28  18  12   0   2   6   8
12          12  17  64  60  54  42  40  36  34  30  20  14   2   0   4   6
13          13  21  68  64  58  46  44  40  38  34  24  18   6   4   0   2
14          14  23  70  66  60  48  46  42  40  36  26  20   8   6   2   0

## Utility Functions

In [219]:
def get_distance(i, j):
    return gates_df[i][j]

def get_arrival_time(i):
    result = all_flights_df[all_flights_df["Flight Number"] == i]["Arrival Time"]
    assert(len(result) == 1)
    return int(result)

def get_departure_time(i):
    result = all_flights_df[all_flights_df["Flight Number"] == i]["Departure Time"]
    assert(len(result) == 1)
    return int(result)

def get_num_passengers(i):
    result = all_flights_df[all_flights_df["Flight Number"] == i]["Passengers"]
    assert(len(result) == 1)
    return int(result)

### Tests

In [220]:
assert(get_distance(5,3) == 14)
assert(get_distance(14,14) == 0)
assert(get_distance(4,11) == 40)

In [221]:
## Basic Assertions on the Data
flight_numbers = sorted(list(arrivals_df["Flight Number"]) + list(departures_df["Flight Number"]))
assert(flight_numbers == list(range(1,131)))

flight_numbers = sorted(list(all_flights_df["Flight Number"]))
assert(flight_numbers == list(range(1,131)))

## Parameters

In [222]:
num_flights = 3
num_gates = 3

## Descriptors (for variables)

### Select Random Flights

In [247]:
np.random.seed(0)
num_flights = 5
F = [f"Flight_{i}" for i in [random.randint(1, 130) for j in range(num_flights)]]

In [248]:
F

['Flight_37', 'Flight_118', 'Flight_124', 'Flight_17', 'Flight_41']

### Select Fixed Flights

In [225]:
# num_flights = 3
# F = [f"Flight_{i}" for i in range(1, num_flights + 1)]
# F

In [226]:
G = [f"Gate_{i}" for i in range(1, num_gates + 1)]
G

['Gate_1', 'Gate_2', 'Gate_3']

In [227]:
flight_gate_dict = dict()
for f in F:
    for g in G:
        i = int(f.split("_")[1])
        j = int(g.split("_")[1])
        p = get_num_passengers(i)
        flight_gate_dict[(f,g)] = p

In [228]:
flight_gate_vars, passengers = gp.multidict(flight_gate_dict)

## Check Constraint 2

In [229]:
def check_constraints(x):
    for f1 in x.keys():
        i = int(f1.split("_")[1])
        ai, di = get_arrival_time(i), get_departure_time(i)
        for f2 in x.keys():
            j = int(f2.split("_")[1])
            if i <= j:
                continue
            aj, dj = get_arrival_time(j), get_departure_time(j)
            if (x[f1] == x[f2]) and (dj - ai) * (di - aj) > 0:
                return False
    return True

## Compute Objective Value

In [230]:
## Objective Value
def objective_value(x):
    objective = 0
    for f1 in x.keys():
        gate = x[f1]
        i = int(f1.split("_")[1])
        g = int(gate.split("_")[1])
        objective += get_num_passengers(i) * get_distance(0, g)

    if TRANSFER_PERCENTAGE > 0:
        print("Adding Transfer Distances to Objective Function...")
        for var_name_1 in x.keys():
            i = int(var_name_1.split("_")[1])
            gate_1 = x[var_name_1]
            k = int(gate_1.split("_")[1])
            for var_name_2 in x.keys():
                xjl = x[var_name_2]
                j = int(var_name_2.split("_")[1])
                gate_2 = x[var_name_2]
                l = int(gate_2.split("_")[1])

                i_key, j_key = str(i), str(j)
                if i_key in transfers:
                    if j_key in transfers[i_key]:
                        pij = transfers[i_key][j_key]
                        wkl = get_distance(k, l)

                        objective += pij * wkl
    return objective

## Brute Force Solution (Exact)

In [231]:
def get_assignments(i, n):
    if i == n:
        return [[]]
    assignments = []
    sub_assignments = get_assignments(i + 1, n)
    for gate in range(num_gates):
        for sub_assignment in sub_assignments:
            assignments.append(sub_assignment + [gate])
    return assignments

In [232]:
assignments = get_assignments(0, num_flights)

In [233]:
best_assignment, best_value = None, None
for i, assignment in enumerate(assignments):
    x = {F[i]: G[assignment[i]] for i in range(len(assignment))}
    if check_constraints(x):
        value = objective_value(x)
        if best_value == None or value < best_value:
            best_assignment = assignment
            best_value = value

print(best_assignment)
print(best_value)

Adding Transfer Distances to Objective Function...
Adding Transfer Distances to Objective Function...
Adding Transfer Distances to Objective Function...
Adding Transfer Distances to Objective Function...
Adding Transfer Distances to Objective Function...
Adding Transfer Distances to Objective Function...
Adding Transfer Distances to Objective Function...
Adding Transfer Distances to Objective Function...
Adding Transfer Distances to Objective Function...
Adding Transfer Distances to Objective Function...
Adding Transfer Distances to Objective Function...
Adding Transfer Distances to Objective Function...
Adding Transfer Distances to Objective Function...
Adding Transfer Distances to Objective Function...
Adding Transfer Distances to Objective Function...
Adding Transfer Distances to Objective Function...
Adding Transfer Distances to Objective Function...
Adding Transfer Distances to Objective Function...
Adding Transfer Distances to Objective Function...
Adding Transfer Distances to Objective Function...
Adding Transfer Distances to Objective Function...
Adding Transfer Distances to Objective Function...
Adding Transfer Distances to Objective Function...
Adding Transfer Distances to Objective Function...
Adding Transfer Distances to Objective Function...
Adding Transfer Distances to Objective Function...
Adding Transfer Distances to Objective Function...
Adding Transfer Distances to Objective Function...
Adding Transfer Distances to Objective Function...
Adding Transfer Distances to Objective Function...
Adding Transfer Distances to Objective Function...
Adding Transfer Distances to Objective Function...
Adding Transfer Distances to Objective Function...
Adding Transfer Distances to Objective Function...
Adding Transfer Distances to Objective Function...
Adding Transfer Distances to Objective Function...
Adding Transfer Distances to Objective Function...
Adding Transfer Distances to Objective Function...
Adding Transfer Distances to Objective Function...
Adding Transfer Distances to Objective Function...
Adding Transfer Distances to Objective Function...
Adding Transfer Distances to Objective Function...
Adding Transfer Distances to Objective Function...
Adding Transfer Distances to Objective Function...
Adding Transfer Distances to Objective Function...
Adding Transfer Distances to Objective Function...
Adding Transfer Distances to Objective Function...
Adding Transfer Distances to Objective Function...
Adding Transfer Distances to Objective Function...
Adding Transfer Distances to Objective Function...
Adding Transfer Distances to Objective Function...
Adding Transfer Distances to Objective Function...
Adding Transfer Distances to Objective Function...
Adding Transfer Distances to Objective Function...
Adding Transfer Distances to Objective Function...
Adding Transfer Distances to Objective Function...
Adding Transfer Distances to Objective Function...
Adding Transfer Distances to Objective Function...
Adding Transfer Distances to Objective Function...
Adding Transfer Distances to Objective Function...
Adding Transfer Distances to Objective Function...
Adding Transfer Distances to Objective Function...
Adding Transfer Distances to Objective Function...
Adding Transfer Distances to Objective Function...
Adding Transfer Distances to Objective Function...
Adding Transfer Distances to Objective Function...
Adding Transfer Distances to Objective Function...
Adding Transfer Distances to Objective Function...
Adding Transfer Distances to Objective Function...
Adding Transfer Distances to Objective Function...
Adding Transfer Distances to Objective Function...
Adding Transfer Distances to Objective Function...
[1, 1, 2, 2, 2]
37650

In [234]:
print(len(assignments))

243

## Model

In [235]:
m = gp.Model('RAP')

### Design Variables

In [236]:
x = m.addVars(flight_gate_vars, name="assign")

### Constraint 1

In [237]:
constraint_1 = m.addConstrs((x.sum(f,'*') == 1 for f in F), name="constraint_1")

In [238]:
constraint_1

{'Flight_30': <gurobi.Constr *Awaiting Model Update*>,
 'Flight_15': <gurobi.Constr *Awaiting Model Update*>,
 'Flight_26': <gurobi.Constr *Awaiting Model Update*>,
 'Flight_68': <gurobi.Constr *Awaiting Model Update*>,
 'Flight_37': <gurobi.Constr *Awaiting Model Update*>}

### Constraint 2

In [239]:
for f1 in F:
    i = int(f1.split("_")[1])
    ai, di = get_arrival_time(i), get_departure_time(i)
    for f2 in F:
        j = int(f2.split("_")[1])
        if i <= j:
            continue
        aj, dj = get_arrival_time(j), get_departure_time(j)
        for g in G:
            name = f"{f1},{f2},{g}"
            const = m.addConstr((x[(f1, g)] * x[(f2, g)] * (dj - ai) * (di - aj)) <= 0, name=f"{f1},{f2},{g}")

### Objective Function

In [240]:
x

{('Flight_30', 'Gate_1'): <gurobi.Var *Awaiting Model Update*>,
 ('Flight_30', 'Gate_2'): <gurobi.Var *Awaiting Model Update*>,
 ('Flight_30', 'Gate_3'): <gurobi.Var *Awaiting Model Update*>,
 ('Flight_15', 'Gate_1'): <gurobi.Var *Awaiting Model Update*>,
 ('Flight_15', 'Gate_2'): <gurobi.Var *Awaiting Model Update*>,
 ('Flight_15', 'Gate_3'): <gurobi.Var *Awaiting Model Update*>,
 ('Flight_26', 'Gate_1'): <gurobi.Var *Awaiting Model Update*>,
 ('Flight_26', 'Gate_2'): <gurobi.Var *Awaiting Model Update*>,
 ('Flight_26', 'Gate_3'): <gurobi.Var *Awaiting Model Update*>,
 ('Flight_68', 'Gate_1'): <gurobi.Var *Awaiting Model Update*>,
 ('Flight_68', 'Gate_2'): <gurobi.Var *Awaiting Model Update*>,
 ('Flight_68', 'Gate_3'): <gurobi.Var *Awaiting Model Update*>,
 ('Flight_37', 'Gate_1'): <gurobi.Var *Awaiting Model Update*>,
 ('Flight_37', 'Gate_2'): <gurobi.Var *Awaiting Model Update*>,
 ('Flight_37', 'Gate_3'): <gurobi.Var *Awaiting Model Update*>}

In [241]:
objective = 0
for var_name in x.keys():
    xij = x[var_name]
    i = int(var_name[0].split("_")[1])
    j = int(var_name[1].split("_")[1])
    objective += xij * get_num_passengers(i) * get_distance(0, j)

if TRANSFER_PERCENTAGE > 0:
    print("Adding Transfer Distances to Objective Function...")
    for var_name_1 in x.keys():
        xik = x[var_name_1]
        i = int(var_name_1[0].split("_")[1])
        k = int(var_name_1[1].split("_")[1])
        for var_name_2 in x.keys():
            xjl = x[var_name_2]
            j = int(var_name_2[0].split("_")[1])
            l = int(var_name_2[1].split("_")[1])

            i_key, j_key = str(i), str(j)
            if i_key in transfers:
                if j_key in transfers[i_key]:
                    pij = transfers[i_key][j_key]
                    wkl = get_distance(k, l)

                    objective += pij * wkl * xik * xjl

Adding Transfer Distances to Objective Function...

In [242]:
transfers

{'2': {'1': 8, '4': 8, '5': 3, '8': 7},
 '3': {'1': 8, '4': 4, '5': 11, '8': 12, '28': 1},
 '6': {'1': 4,
  '4': 4,
  '5': 11,
  '8': 11,
  '9': 3,
  '12': 7,
  '17': 1,
  '19': 1,
  '28': 2},
 '7': {'1': 2, '4': 5, '9': 14, '12': 1, '20': 7, '38': 1},
 '10': {'4': 8, '9': 14, '12': 1},
 '11': {'4': 3,
  '5': 6,
  '12': 10,
  '17': 7,
  '19': 6,
  '20': 12,
  '21': 3,
  '26': 4},
 '13': {'12': 2, '17': 13, '19': 7},
 '14': {'12': 3,
  '17': 7,
  '19': 13,
  '20': 9,
  '23': 5,
  '26': 9,
  '27': 6,
  '28': 6},
 '15': {'12': 9, '17': 2, '19': 3, '21': 7, '22': 1, '26': 5},
 '16': {'12': 4, '21': 8, '22': 14, '26': 5, '27': 2},
 '18': {'12': 6,
  '19': 2,
  '21': 5,
  '22': 3,
  '26': 2,
  '27': 3,
  '40': 1,
  '47': 1},
 '24': {'21': 8,
  '23': 10,
  '26': 12,
  '27': 2,
  '28': 2,
  '31': 7,
  '36': 2,
  '38': 1,
  '40': 2},
 '25': {'21': 14,
  '22': 3,
  '23': 12,
  '26': 5,
  '27': 2,
  '28': 6,
  '31': 1,
  '35': 10,
  '38': 1,
  '45': 2},
 '29': {'23': 6,
  '26': 4,
  '27': 6,
  '28': 7,
  '31': 9,
  '35': 7,
  '36': 3,
  '40': 2,
  '53': 1},
 '30': {'26': 6, '27': 7, '28': 3, '31': 6, '56': 1, '59': 2},
 '32': {'26': 1,
  '28': 6,
  '31': 5,
  '35': 2,
  '40': 9,
  '43': 1,
  '45': 5,
  '47': 2,
  '53': 3,
  '54': 6,
  '57': 1,
  '60': 4,
  '64': 3},
 '33': {'27': 1,
  '28': 4,
  '31': 4,
  '35': 9,
  '36': 5,
  '38': 6,
  '43': 3,
  '45': 14,
  '47': 4,
  '53': 3,
  '60': 2},
 '34': {'28': 13, '35': 2, '38': 6, '43': 1, '45': 5, '47': 13, '53': 14},
 '37': {'31': 9,
  '35': 12,
  '36': 3,
  '38': 12,
  '40': 2,
  '45': 8,
  '53': 1,
  '60': 3},
 '39': {'35': 4,
  '36': 3,
  '43': 3,
  '47': 7,
  '53': 7,
  '54': 10,
  '57': 4,
  '61': 1},
 '41': {'36': 8, '43': 13, '53': 10, '54': 6, '57': 7, '59': 4, '64': 1},
 '42': {'43': 11, '53': 6, '56': 1, '61': 8},
 '44': {'43': 10, '47': 5, '56': 7, '57': 3, '60': 13, '61': 7, '65': 2},
 '46': {'43': 2,
  '45': 1,
  '47': 6,
  '56': 7,
  '57': 3,
  '59': 12,
  '60': 9,
  '61': 5,
  '64': 2,
  '67': 11},
 '48': {'43': 6,
  '45': 2,
  '47': 4,
  '56': 1,
  '57': 8,
  '59': 5,
  '60': 1,
  '61': 4,
  '64': 7,
  '65': 12,
  '66': 6,
  '67': 5},
 '49': {'43': 9,
  '47': 1,
  '56': 1,
  '59': 6,
  '60': 9,
  '61': 10,
  '64': 9,
  '66': 6},
 '50': {'56': 2,
  '60': 1,
  '61': 2,
  '65': 13,
  '66': 10,
  '68': 3,
  '69': 2,
  '82': 2,
  '83': 3},
 '51': {'60': 8,
  '64': 2,
  '65': 12,
  '66': 12,
  '67': 1,
  '68': 1,
  '69': 2,
  '79': 2,
  '81': 6,
  '83': 2},
 '52': {'53': 1,
  '56': 5,
  '57': 4,
  '61': 1,
  '65': 13,
  '67': 14,
  '70': 1,
  '79': 4,
  '81': 3,
  '82': 2},
 '55': {'56': 3, '60': 2, '68': 5, '69': 1, '70': 11, '78': 10},
 '58': {'61': 2,
  '68': 7,
  '69': 1,
  '78': 10,
  '79': 1,
  '81': 7,
  '82': 8,
  '83': 1,
  '91': 2},
 '62': {'66': 7, '68': 4, '69': 7, '70': 2, '79': 1, '81': 3, '82': 4},
 '63': {'69': 8, '70': 6, '78': 8, '79': 12, '89': 1, '91': 1},
 '71': {'68': 11,
  '69': 8,
  '81': 8,
  '82': 11,
  '83': 1,
  '89': 14,
  '99': 5,
  '100': 1},
 '72': {'68': 1, '69': 2, '79': 5, '81': 7, '82': 4, '89': 2, '97': 2},
 '73': {'68': 5,
  '69': 11,
  '78': 1,
  '79': 11,
  '83': 1,
  '89': 3,
  '91': 10,
  '97': 3},
 '74': {'68': 4,
  '69': 7,
  '70': 2,
  '79': 1,
  '83': 5,
  '89': 6,
  '99': 2,
  '100': 2,
  '107': 3},
 '75': {'83': 9, '89': 10, '91': 14, '94': 13, '99': 5},
 '76': {'79': 12, '83': 13, '89': 7},
 '77': {'89': 2, '94': 5, '97': 7, '99': 3, '100': 12, '104': 9, '107': 7},
 '80': {'83': 11, '89': 8, '94': 2, '97': 7, '99': 11, '104': 10, '112': 6},
 '84': {'94': 13, '97': 11, '99': 6, '104': 9, '113': 2},
 '85': {'94': 1,
  '97': 2,
  '99': 4,
  '104': 14,
  '107': 3,
  '109': 8,
  '111': 3,
  '112': 12,
  '113': 11},
 '86': {'82': 2, '94': 4, '97': 14, '111': 1},
 '87': {'94': 7, '99': 3, '107': 11, '109': 6, '111': 1, '113': 6},
 '88': {'94': 5,
  '97': 1,
  '99': 3,
  '109': 8,
  '111': 12,
  '113': 7,
  '117': 14,
  '119': 6},
 '90': {'99': 2, '107': 12, '111': 11, '113': 4},
 '92': {'99': 2, '107': 1, '112': 3, '113': 11, '117': 3, '119': 10, '121': 6},
 '93': {'91': 1,
  '94': 1,
  '99': 1,
  '107': 6,
  '113': 3,
  '117': 3,
  '121': 1,
  '122': 5},
 '95': {'89': 2,
  '99': 6,
  '100': 7,
  '107': 5,
  '111': 6,
  '112': 3,
  '117': 8,
  '119': 3,
  '121': 4,
  '122': 10},
 '96': {'91': 2,
  '99': 5,
  '111': 1,
  '113': 1,
  '117': 11,
  '119': 1,
  '121': 4,
  '122': 4,
  '123': 1},
 '98': {'99': 1,
  '109': 1,
  '119': 3,
  '121': 5,
  '122': 11,
  '123': 4,
  '125': 6,
  '128': 3},
 '101': {'119': 10, '122': 11, '123': 3, '125': 10, '128': 4},
 '102': {'119': 6, '121': 1, '122': 8, '123': 7, '125': 1, '128': 12},
 '103': {'107': 3, '119': 6, '122': 9, '123': 14, '125': 6, '128': 6},
 '105': {'107': 2, '109': 1, '125': 1, '128': 10, '130': 6},
 '106': {'123': 4, '125': 5, '130': 8},
 '108': {'113': 2, '121': 2, '128': 1, '130': 9},
 '110': {'113': 1, '123': 1, '128': 5},
 '114': {'119': 3, '125': 4},
 '118': {'122': 1, '123': 3},
 '120': {'123': 4, '130': 3}}

In [243]:
m.setObjective(objective, GRB.MINIMIZE)

### Optimize

In [244]:
m.params.NonConvex = 2
m.params.MIPGap = 0.1
m.Params.TimeLimit = 600
m.optimize()

Set parameter NonConvex to value 2
Set parameter MIPGap to value 0.1
Set parameter TimeLimit to value 600
Gurobi Optimizer version 9.5.1 build v9.5.1rc2 (mac64[x86])
Thread count: 4 physical cores, 8 logical processors, using up to 8 threads
Optimize a model with 5 rows, 15 columns and 15 nonzeros
Model fingerprint: 0x84c4b5ec
Model has 12 quadratic objective terms
Model has 30 quadratic constraints
Coefficient statistics:
  Matrix range     [1e+00, 1e+00]
  QMatrix range    [7e+02, 3e+05]
  Objective range  [4e+03, 1e+04]
  QObjective range [4e+01, 1e+02]
  Bounds range     [0e+00, 0e+00]
  RHS range        [1e+00, 1e+00]
Presolve removed 1 rows and 3 columns

Continuous model is non-convex -- solving as a MIP

Presolve removed 1 rows and 3 columns
Presolve time: 0.00s
Presolved: 47 rows, 25 columns, 91 nonzeros
Presolved model has 21 bilinear constraint(s)
Variable types: 25 continuous, 0 integer (0 binary)

Root relaxation: objective 3.765000e+04, 5 iterations, 0.00 seconds (0.00 work units)

    Nodes    |    Current Node    |     Objective Bounds      |     Work
 Expl Unexpl |  Obj  Depth IntInf | Incumbent    BestBd   Gap | It/Node Time

*    0     0               0    37650.000000 37650.0000  0.00%     -    0s

Explored 1 nodes (5 simplex iterations) in 0.03 seconds (0.00 work units)
Thread count was 8 (of 8 available processors)

Solution count 1: 37650

Optimal solution found (tolerance 1.00e-01)
Best objective 3.765000000000e+04, best bound 3.765000000000e+04, gap 0.0000%

### Inspect Results

In [245]:
for v in m.getVars():
    if v.x > 1e-6:
        print(v.varName, v.x)

# Display optimal total matching score
print('Total matching score: ', m.objVal)

assign[Flight_30,Gate_2] 1.0
assign[Flight_15,Gate_2] 1.0
assign[Flight_26,Gate_3] 1.0
assign[Flight_68,Gate_3] 1.0
assign[Flight_37,Gate_3] 1.0
Total matching score:  37650.0

In [246]:
for v in m.getVars():
    if v.x > 1e-6:
        print(v.varName, v.x)

# Display optimal total matching score
print('Total matching score: ', m.objVal)

assign[Flight_30,Gate_2] 1.0
assign[Flight_15,Gate_2] 1.0
assign[Flight_26,Gate_3] 1.0
assign[Flight_68,Gate_3] 1.0
assign[Flight_37,Gate_3] 1.0
Total matching score:  37650.0